* {
    margin: 0;
    padding: 0;
}

.content-wrapper {
    display: flex;
    border: 2px solid #000;
    background-color: #0e82f0;
    flex-wrap: wrap;
    justify-content: center;
    height: 99vh;
    min-width: 400px;
    gap: 24px;
    padding: 24px;
}

.content-wrapper .box {
    display: flex;
    justify-content: center;
    align-items:center;
    background-color: #fff;
    width: 47%;
    gap: 24px;
    color: #0e82f0;
    font-size: 75px;
    min-width: 400px;
}

.content-wrapper .box1 {
    border: 1px solid #024059;
    background-color: #fff;
    width: 30.7%;
    min-width: 400px;
}

.content-wrapper .box2 {
    border: 1px solid #024059;
    background-color: #fff;
    width: 96%;
    min-width: 400px;
}

