* {
    margin: 0;
    padding: 0;
}

.content-wrapper {
    display: flex;
    border: 2px solid #000;
    background-color: #0e82f0;
    flex-wrap: wrap;
    justify-content: center;
    height: 99vh;
    min-width: 400px;
    gap: 24px;
}

.content-wrapper .box {
    display: flex;
    justify-content: center;
    align-items:center;
    border: 1px solid #024059;
    background-color: #fff;
    width: 47%;
    row-gap: 99px;
    margin-top: 3%;
    margin-bottom: 1%;
    

    color: #0e82f0;
    font-size: 75px;
}

.content-wrapper .box1 {
    display: flex;
    justify-content: center;
    border: 1px solid #024059;
    background-color: #fff;
    width: 30.7%;
    margin-bottom: 1%;

    color: #0e82f0;
    font-size: 75px;
}

.content-wrapper .box2 {
    display: flex;
    justify-content: center;
    border: 1px solid #024059;
    background-color: #fff;
    width: 96%;

    color: #0e82f0;
    font-size: 75px;
    margin-bottom: 2%;
}

